@import url("https://fonts.googleapis.com/icon?family=Material+Icons");


.container {
    width: 60%;
    margin: 2em;
}

.tag-container{
    border: 2px solid #ccc;
    padding: 0.8em;
    border-radius: 0.5em;
    display: flex;
}


.tag-container .tag{
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    background-color: #cccccc;
}

.tag i{
    font-size: 1em;
    margin-left: 0.4em;
}


.tag-container input{
    flex: 1;
    outline: none;
    font-size: 1em;
    padding: 0.5em;
    border: 0;
}
